.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.finish-button {
    width: 100%;
}

.form-container {
    width: 40%;
    margin: 2%;
}

.form-title {
    margin-bottom: 4%;

}